@page "/Charts"
@using Syncfusion.Blazor.Charts;
@inject ISalesOrderReportService SalesOrderReportService

<h3>Charts</h3>

<!-- Histogram chart -->
<div class="mt-3">
    <SfChart Title="Sales Gross / Month">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@GroupedFieldPriceData"
                XName = "GroupedFieldKey" YName ="Price" Type="ChartSeriesType.Bar">

            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

<!-- portion chart with the quantity of products sold by category -->
<div class="mt-3">
    <SfAccumulationChart Title="Quantity / Category">
        <!-- Set the legend and its position -->
        <AccumulationChartLegendSettings Position="LegendPosition.Left" Visible="true"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <!-- Set chart qualities -->
            <AccumulationChartSeries 
                DataSource="@QuantityXProductData"
                Radius="75%" InnerRadius = "35%" Name ="Quantity X Category"
                XName="GroupedFieldKey" YName="Quantity"
                Explode="true" ExplodeOffset="10%" ExplodeIndex="2">
                <!-- Put labels -->
                <AccumulationDataLabelSettings Visible="true" Name="Label">
                    <!-- Set label qualities-->
                    <AccumulationChartDataLabelFont FontWeight="650" Color="Black"></AccumulationChartDataLabelFont>
                </AccumulationDataLabelSettings>
            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
    </SfAccumulationChart>
</div>

<!-- Line chart with quantity of products sold x Month -->
<div class="mt-3">
    <SfChart Title="Quantity / Month">
        <!-- Set tht type of chart -->
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartSeriesCollection>
            <!-- Set the data -->
            <ChartSeries DataSource="@QuantityXMonthData"
                XName="GroupedFieldKey" YName="Quantity" Type="ChartSeriesType.Line"></ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code {
    List<GroupedFieldPriceModel> GroupedFieldPriceData { get; set; }
    List<GroupedFieldQuantityModel> QuantityXMonthData { get; set; }
    List<GroupedFieldQuantityModel> QuantityXProductData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Get the informaton to chars
        QuantityXProductData = await SalesOrderReportService.GetQuantityPerCategory();
        QuantityXMonthData = await SalesOrderReportService.GetQuantitiyPerMonth();
        GroupedFieldPriceData = await SalesOrderReportService.GetEmployeePricePerMonth();
    }

}
