@page "/Charts"
@using Syncfusion.Blazor.Charts;
@inject ISalesOrderReportService SalesOrderReportService

<h3>Charts</h3>

<div class="mt-3">
    <SfChart Title="Sales Gross / Month">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@GroupedFieldPriceData"
                XName = "GroupedFieldKey" YName ="Price" Type="ChartSeriesType.Bar">

            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>
<div class="mt-3">
    <SfAccumulationChart Title="Quantity / Category">
        <AccumulationChartLegendSettings Position="LegendPosition.Left" Visible="true"></AccumulationChartLegendSettings>
        <AccumulationChartSeriesCollection>
            <AccumulationChartSeries 
                DataSource="@QuantityXMonth"
                Radius="75%" InnerRadius = "35%" Name ="Quantity X Category"
                XName="GroupedFieldKey" YName="Quantity"
                Explode="true" ExplodeOffset="10%" ExplodeIndex="2">
                <AccumulationDataLabelSettings Visible="true" Name="Label">
                    <AccumulationChartDataLabelFont FontWeight="650" Color="Black">

                    </AccumulationChartDataLabelFont>
                </AccumulationDataLabelSettings>

            </AccumulationChartSeries>
        </AccumulationChartSeriesCollection>
        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
    </SfAccumulationChart>
</div>

@code {
    List<GroupedFieldPriceModel> GroupedFieldPriceData { get; set; }
    List<GroupedFieldQuantityModel> QuantityXMonth { get; set; }
    List<GroupedFieldQuantityModel> QuantityXProductData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Get the informaton to chars
        QuantityXProductData = await SalesOrderReportService.GetQuantitiyPerMonth();
        QuantityXMonth = await SalesOrderReportService.GetQuantityPerCategory();
        GroupedFieldPriceData = await SalesOrderReportService.GetEmployeePricePerMonth();
    }

}
